In [11]:
import requests as rs
csv_url="https://docs.google.com/spreadsheets/d/1-YNneqVqTGy2Uzp_0pPNBezhxyEp6M_a2A2GI1MTxx0/export?format=csv&id=1-YNneqVqTGy2Uzp_0pPNBezhxyEp6M_a2A2GI1MTxx0&gid=363880533"
res=rs.get(url=csv_url)
open('iran.csv', 'wb').write(res.content)

2020

In [12]:
import pandas as pd

In [13]:
pd.read_csv("https://docs.google.com/spreadsheets/d/1-YNneqVqTGy2Uzp_0pPNBezhxyEp6M_a2A2GI1MTxx0/export?format=csv&id=1-YNneqVqTGy2Uzp_0pPNBezhxyEp6M_a2A2GI1MTxx0&gid=363880533")

,Time,Tehran,Qom,Gilan,Markazi,Esfahan,Fars,Khorasan-e-Razavi,Kermanshah,Lorestan,...,Yazd,West Azarbaijan,Zanjan,Chahar mahall and Bakhitari,Bushehr,Northern Khorasan,Sum,Total death,Unnamed: 34,Unnamed: 35
0,current level,4,4,4,3,3,3,3,3,2,...,2,2,1,1,0,0,NaN,4,4.0,4.0
1,Before 23-Feb,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,88.0,6,2.0,6.0
2,2-23,4,7,2,1,0,0,0,0,0,...,0,0,0,0,0,0,103.0,8,2.0,8.0
3,2-24,7,15,4,3,2,0,0,0,0,...,0,0,0,0,0,0,121.0,12,4.0,12.0
4,2-25,16,31,6,3,2,1,0,0,0,...,0,0,0,0,0,0,155.0,15,3.0,15.0
5,2-26,20,46,15,4,2,3,0,1,1,...,0,0,0,0,0,0,199.0,18,3.0,18.0
6,2-27,58,53,38,4,10,3,1,1,1,...,0,0,0,0,0,0,292.0,25,7.0,25.0
7,2-28,122,69,63,4,20,3,1,1,1,...,0,0,0,0,0,0,435.0,33,8.0,33.0
8,2-29,174,90,80,22,32,11,2,1,1,...,4,0,0,0,0,0,640.0,42,9.0,42.0
9,3-1,344,120,108,66,45,19,19,3,9,...,4,0,0,0,0,0,1025.0,53,11.0,53.0
10,3-2,569,182,161,84,68,27,25,4,9,...,5,4,0,0,0,0,1493.0,65,12.0,65.0
11,3-3,1055,234,216,140,120,35,28,5,11,...,6,4,0,0,0,0,2344.0,76,11.0,76.0
12,3-4,1308,335,251,148,120,49,36,20,16,...,6,4,0,0,0,0,2922.0,91,15.0,91.0
13,3-5,1352,386,333,180,238,68,89,22,30,...,7,10,15,9,3,3,3513.0,107,16.0,107.0
14,3-6,1413,523,424,228,388,81,89,27,80,...,57,11,50,14,5,15,4747.0,124,17.0,124.0
15,3-7,1539,668,494,265,484,95,135,31,107,...,81,33,52,16,8,23,5823.0,145,21.0,145.0
16,3-8,1805,685,496,335,564,104,154,33,144,...,87,40,53,21,10,24,6566.0,194,NaN,NaN